@import url("https://fonts.googleapis.com/css?family=Calistoga&display=swap");
@import url("https://fonts.googleapis.com/css?family=Gupter&display=swap");
:root {
  --mainBrown: #2d1e1f;
  --mainYellow: #ff9e09;
  --mainGrey: #ece8dc;
  --mainWhite: #fff;
  --mainDark: #222;
  --lightBlue: #9dc9f2;
  --mainBlue: #1a3e5e;
  --navGrey: #7f7f7f;
}

body {
  background: var(--mainWhite);
  color: var(--mainDark);
  font-family: "Gupter", serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Gupter", serif !important;
  letter-spacing: 0.25rem !important;
}

.text-dark {
  color: var(--mainDark);
}
.text-dark-heading {
  color: var(--mainYellow);
  align-items: stretch;
}

.box-job {
  margin-left: 10vh;
  margin-right: 10vh;
}

.entire-grid {
  padding-bottom: 20vh;
}

.text-white {
  color: var(--mainWhite);
}

.text-yellow {
  color: var(--mainYellow);
}

.text-blue {
  color: var(--mainBlue);
}

.nav-text {
  font-family: "Gupter", serif !important;
  font-size: 4vh;
  font-weight: bold;
}

.nav-icon {
  cursor: pointer;
  color: var(--navGrey);
  font-size: 5vh;
}

.nav-icon:hover {
  cursor: pointer;
  color: var(--mainBlue);
  font-size: 5.5vh;
}

.text-para,
.text-f {
  color: var(--mainDark);
  font-family: "Gupter", serif !important;
}

.text-f {
  font-weight: bold;
  margin-top: 20vh;
}

.default-background,
.experience-background {
  min-height: 90vh;
  display: flex;
  background-position: center;
  background-size: cover;
}

.experience-background {
  min-height: 60vh;
}

.btn-black {
  color: var(--mainDark);
  border-color: var(--mainDark);
}

.btn-black:hover {
  background: var(--mainDark);
  color: var(--mainWhite);
}

.footer {
  background: var(--mainDark);
}
