:root {
  --mainBrown: #2d1e1f;
  --mainYellow: #ff9e09;
  --mainGrey: #ece8dc;
  --mainWhite: #fff;
  --mainDark: #222;
  --lightBlue: #9dc9f2;
  --mainBlue: #1a3e5e;
}

body {
  background: var(--mainWhite);
  color: var(--mainDark);
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Courier New", Courier, monospace !important;
  letter-spacing: 0.25rem !important;
}

.text-yellow {
  color: var(--mainYellow);
}

.nav-icon {
  cursor: pointer;
  color: var(--mainBlue);
}

.text-f {
  color: var(--mainBlue);
  font-weight: bold;
  margin-left: 30vh;
}

.para-f {
  color: var(--mainDark);
  margin-right: 100vh;
  margin-top: 10vh;
  font-size: small;
}

.default-background {
  min-height: 100vh;
  display: flex;
  background: linear-gradient(rgba(255, 158, 9, 0.3), (rgba(255, 158, 9, 0.3)));
  background-position: center;
  background-size: cover;
}

.btn-yellow {
  color: var(--mainYellow);
  border-color: var(--mainYellow);
}

.btn-yellow:hover {
  background: var(--mainYellow);
  color: var(--mainBrown);
}
